/* Завдання 1. Зробіть , щоб HTML тег мав білий фон  , використовуйте Root селектор */

:root {
  background: white;
}

/*  Завдання 2. Зробіть, щоб всі елементи на сторінці мали текст чорного кольору  */

* {
  color: black;
}

/* Завдання 3. Зробіть, щоб h1 мав Синій колір фону */

h1 {
  background-color: blue;
}

/* Завдання 4. Зробіть, щоб клас green мав зелений колір тексту */

.green {
  color: green;
}

/* Завдання 5. Зробіть, щоб ідентифікатор blue мав синій колір тексту  */

#blue {
  color: blue;
}

/* Завдання 6. Зробіть, щоб p мав червоний фон ,а щоб div мав синій фон */

.box p {
  background-color: red;
}

.box div {
  background-color: green;
}

/*  Завдання 7. Зробіть через селектор тег.клас зелений фон та білий текст для тегу section, який має клас green  */

section.green {
  background-color: green;
  color: white;
}

/* Завдання 8. Зробіть червоний фон для дочірніх елементів тега ul  */

ul > li {
  background-color: red;
}

/*  Завдання 9. Зробіть червоний фон для тегів, які є систринськими тегами до тега button з класом header-button */

.header-button + span {
  background-color: red;
}

/* Завдання 10. Зробіть  фон  всіх cусідських  <p>   синім  кольором , а текст білим застосувавши клас .susid  */

.susid ~ p {
  background-color: blue;
  color: white;
}

/*  Завдання 11. Зробіть жовтий  фон   класу .salo та індетифікатор #bread  */

.salo,
#bread {
  background-color: yellow;
}

/*  Урок 2  */

/* Завдання №1: Створіть стиль CSS для списку ul,
    який змінює колір першого елемента  на білий.  */

.first-task ul li:first-child {
  color: white;
}

/* Завдання №2:  Змінити колір першого елемента списку в першому блоці ul. */

.second-task ul:first-child li:first-child {
  color: yellow;
}

/*  Завдання №3:  Змінити фон другого списку на жовтий в другому блоку ul. */

.third-task ul:last-child li:first-child {
  background-color: yellow;
}

/* Завдання №4:  Змінити фон останнього Елементу на жовтий   */

.four-task ul:first-child li:last-child {
  background-color: yellow;
}

/* Завдання №5:   Змінити колір  останнього елемента списку в останньому блоці ul на білий. */

.five-task ul:last-child li:last-child {
  color: white;
}

/*  Завдання №6: Змінити колір тексту у блоках div, які єдині в своєму батьківському елементі section.  */

.only-child-task div:only-child {
  color: red;
}

/*  Завдання №7:  Застосуйте червоний фон до першого абзацу в div.   */

.seven-task p:first-of-type {
  background-color: red;
}

/* Завдання №8:  Застосуйте червоний фон до останнього абзацу в div. */

.eight-task p:last-of-type {
  background-color: red;
}

/* Завдання №9: Додайте стилі для всіх <p> елементів, які єдині в своїй батьківській категорії. */

.text-wrapper p:only-of-type {
  background-color: yellow;
}

/*  Урок 3  */

/* Створіть меню навігації з посиланнями на інші сторінки,
    використовуючи селектор атрибутів [href], щоб стилізувати посилання,
    які вказують на поточну сторінку. */

.lesson-three-task-one nav a[href] {
  color: white;
}

/* Завдання №2.  Знайдіть всі зображення в коді з атрибутом alt- */

.lesson-three-task-two li[value] {
  color: yellow;
}

/* Завдання №3. Застосуйте селектор наявності значення атрибута,
     щоб встановити червоний рамку тільки для зображення
     з атрибутом "title", який містить слово "landscape". */

.lesson-three-task-three li[value='3'] {
  background-color: blue;
}

/*  Завдання №4. Застосуйте селектор наявності значення атрибута,
      щоб встановити різний фон для кожної кнопки залежно від її класу. */

.lesson-three-task-four button[class~='primary'] {
  background-color: blue;
}

/* Завдання №5.Застосуйте селектор префіксу значення атрибута,
    щоб стилізувати тільки первинну кнопку з червоним фоном. */

.lesson-three-task-five [class|='secondary'] {
  background-color: red;
}

/*  Завдання №6.  Застосуйте селектор префіксу значення атрибута, щоб стилізувати тільки ті елементи списку,
     які мають статус "active" та встановіть для них зелений колір тексту та білий фон.  */

.lesson-three-task-six li[class^='b'] {
  color: green;
  background-color: white;
}

/*  Завдання №7.  Додайте можливість виділяти зображення, які мають в описі певне слово, за допомогою конструкції
    Селектор кореня значення [attr*=].   Наприклад, якщо в описі зображення є
    слово "природа", то зображення буде виділено. */

/* Щоб додати кордони які будуть виділяти це зображення портрібно вставити ось це
      border: 2px solid red;
  */

.lesson-three-task-seven li[class*='on'] {
  color: green;
  background-color: white;
}

/*  Завдання №8. Напишіть CSS-код, який за допомогою конструкції Селектор останнього значення [atr$="value"] виділить статі,
  які мають у своїх класах певну останню літеру, наприклад "s". */

.lesson-three-task-eight li span[class$='s'] {
  color: blue;
  background-color: white;
}

/*    Завдання №9. Створити стиль, який  окрашує в червоний першу букву кожного заголовка на сторінці.
        Використовуйте цей селектор ::first-letter  */

.lesson-three-task-nine ::first-letter {
  color: red;
}
/*  Завдання №10. Створити стиль, який змінює стиль першого рядка тексту в елементі <p>.
      Використовуйте цей селектор ::first-line   */

.lesson-three-task-ten::first-line {
  background-color: yellow;
}

/* Завдання №11. Створити стиль, який змінює фон плейсхолдера для інпут-поля на сторінці.
     Використовуйте цей селектор ::placeholder  */

.lesson-three-task-eleven input::placeholder {
  background-color: red;
}

/*      Завдання №12. Ось список з елементами, перед кожним з яких потрібно додано стрілку за допомогою селектору ::before.
          Установи відстань між стрілкою та текстом елементу списку. */
/*      Ось CSS код для завдання
            content: "➤";
    */

.lesson-three-task-twelve li::before {
  content: '➤';
}

/*   Завдання №13. Ось список з елементами, після кожного з яких потрібно додано стрілку
       за допомогою селектору ::after.
       Установи відстань між стрілкою та текстом елементу списку.
  */
/*  Ось CSS код для завдання
        content: "➤";
  */

.lesson-three-task-thirteen ul li::after {
  content: '➤';
}

/*<!--   Урок 4  -->*/

/*<!--  Завдання №1. Змініть колір тексту на червоний та фон на жовтий, коли користувач наведе курсор миші на кнопку  -->*/
/*<!--  Використовуйте цей селектор :hover --->*/

.lesson-four-task-one .btn:hover {
  color: red;
  background-color: yellow;
}

/*<!-- Завдання №2. Змініть фон заголовка на зелений, коли користувач наведе курсор миші на посилання: -->*/
/*<!--  Використовуйте цей селектор :hover --->*/

.lesson-four-task-two .link:hover + .title {
  background-color: green;
}

/*<!-- Завдання №3. Змініть колір тексту та фон відвіданого посилання на жовтий: -->*/
/*<!--  Використовуйте цей селектор :visited --->*/

.lesson-four-task-three a.link:visited {
  color: yellow;
  background-color: black;
}

/*<!-- Завдання №4. Змініть колір тексту та фон посилання, яке знаходиться в блоку з ідентифікатором "sidebar", на червоний: -->*/

/*<!--  Використовуйте цей селектор :link --->*/

.lesson-four-task-four #sidebar a:link {
  color: red;
  background-color: transparent;
}

/*<!--    Завдання №5. Змініть колір тексту та фон кнопки, коли користувач натискає на неї, на червоний: -->*/

/*<!--      Використовуйте цей селектор :active -->*/

.lesson-four-task-five .btn:active {
  color: red;
  background-color: transparent;
}

/*<!--    Завдання №6. Змініть колір тексту та фон кнопки, коли вона отримує фокус, на помаранчевий: -->*/

/*<!--      Використовуйте цей селектор :focus -->*/

.lesson-four-task-six .btn:focus {
  color: white;
  background-color: orange;
}

/*<!--    Завдання №7. Змініть колір тексту та фон елемента,
    який вказаний в URL як фрагмент, на зелений, коли на нього встановлюється :target: - -->*/

/*<!--      Використовуйте цей селектор :target  -->*/

.lesson-four-task-seven #target:target {
  color: white;
  background-color: green;
}

/*<!--    Завдання №8. Змініть колір тексту та фон елемента при перевірці відповідного чекбоксу: -->*/

/*<!--      Використовуйте цей селектор :checked -->*/

#checkbox:checked ~ #target {
  color: white;
  background-color: blue;
}

/*<!--    Завдання №9. Змінити колір тексту  для усіх елементів на сторінці, які написані українською мовою. -->*/

/*<!--      Використовуйте цей селектор :lang() -->*/

.lesson-four-task-nine :lang(uk) {
  color: blue;
}

/*<!--    Завдання №10. Застосувати стилі до елементів форми, які включені та доступні для введення. -->*/

/*<!--      Використовуйте цей селектор :enabled -->*/

.lesson-four-task-ten input:enabled {
  background-color: yellow;
  color: red;
}

/*<!--    Завдання №11. При використанні селектора :disabled змінити фоновий колір та колір тексту в полях введення, які є неактивними.-->*/

/*<!--      Використовуйте цей селектор :disabled -->*/

.lesson-four-task-eleven input:disabled {
  background-color: #f0f0f0;
  color: #808080;
}

.lesson-four-task-eleven button:disabled {
  background-color: #f0f0f0;
  color: #808080;
}

/*<!--    Завдання №12. Встановіть фоновий колір для елементів <input>, що без атрибута readonly. -->*/

/*<!--      Використовуйте цей селектор :read-write -->*/

.lesson-four-task-twelve input:read-write {
  background-color: yellow;
}

/*<!--  Завдання №13. Створіть стиль для інпуту з атрибутом readonly.*/

/*      Змініть колір тексту на червоний, а фоновий колір на блідо-жовтий.  -->*/

.lesson-four-task-thirteen input[readonly] {
  color: red;
  background-color: lightyellow;
}

/*<!--    Завдання №14. Зробіть поле вводу зеленим, коли введене значення коректне, і червоним - якщо ні. -->*/

/*<!--      Використовуйте ці селектори :valid та :invalid   -->*/

.lesson-four-task-fourteen input:valid {
  background-color: lightgreen;
  color: black;
}

.lesson-four-task-fourteen input:invalid {
  background-color: tomato;
  color: white;
}

/*<!--    Завдання №15. Застосувати селектор :optional до текстового поля форми,*/
/*        яке не є обов'язковим для заповнення, і змінити його кольори. -->*/

/*<!--      Використовуйте цей селектор :optional -->*/

.lesson-four-task-fifteen input:optional,
textarea:optional {
  background-color: #e1f7d5;
  color: #4a4a4a;
}

/*<!--    Завдання №16. Є форма з полем вводу числа,  яке може бути від 0 до 100.*/
/*        Задача змінити колір фону та тексту поля вводу, якщо значення не входить до цього діапазону.-->*/

/*<!--      Використовуйте цей селектор :out-of-range -->*/

.lesson-four-task-sixteen input:out-of-range {
  background-color: #fdd;
  color: #f00;
}

/*<!--    Завдання №17. Створити таблицю з даними, які повинні бути числовими,*/
/*        та змінити колір фону та тексту комірок таблиці, якщо значення входять до діапазону від 0 до 100. -->*/

/*<!--      Використовуйте цей селектор :in-range-->*/

.lesson-four-task-seventeen input:in-range {
  background-color: #dfd;
  color: #0f0;
}

/*<!--    Завдання №18.У цьому завданні потрібно зробити, щоб змінювався колір фону та тексту для введення тексту з placeholder,*/
/*        який зникає, коли користувач починає вводити. -->*/

/*<!--      Використовуйте цей селектор :placeholder-shown-->*/

.lesson-four-task-eighteen input:placeholder-shown {
  background-color: red;
  color: white;
}

/*<!--    Завдання №19. Зробити елемент меню виділеним у блоку при фокусуванні на будь-якому з його підпунктів. -->*/

/*<!--      Використовуйте цей селектор :focus-within -->*/

.lesson-four-task-nineteen nav ul li:focus-within {
  background-color: red;
  color: green;
}

/*<!--    Завдання №20. При валідації форми з помилкою, змінюйте колір фону на червоний. -->*/

/*<!--      Використовуйте цей селектор :invalid-->*/

.lesson-four-task-twenty input:invalid {
  background-color: red;
  color: white;
}

/*<!--    Завдання №21. Необхідно змінити колір тексту  для того варіанту радіокнопки, який має атрибут checked.*/
/*Для цього потрібно використати селектор :default для інпутів та селектор + для отримання наступного елемента після*/
/*інпуту з атрибутом checked. -->*/

/*<!--      Використовуйте цей селектор :default-->*/

.lesson-four-task-twenty-one input:default + label {
  color: red;
}

/*<!--   Урок 4  -->*/

/*<!--  Завдання №1. Змініть колір тексту на червоний та фон на жовтий, коли користувач наведе курсор миші на кнопку  -->*/
/*<!--  Використовуйте цей селектор :hover --->*/

.lesson-four-task-one .btn:hover {
  color: red;
  background-color: yellow;
}

/*  <!-- Завдання №2. Змініть фон заголовка на зелений, коли користувач наведе курсор миші на посилання: -->
  <!--  Використовуйте цей селектор :hover-->*/

.lesson-four-task-two .link:hover + .title {
  background-color: green;
}

/*  <!-- Завдання №3. Змініть колір тексту та фон відвіданого посилання на жовтий: -->
  <!--    Порада проходити це завдання на https://codepen.io/ ,адже через те,
          що браузер запам'ятовує посилання на які ви заходили вам потрібно буде скидати кеш постійно,
          тому легше всього пройти тут -->
  <!--  Використовуйте цей селектор :visited-->*/

.lesson-four-task-three a.link:visited {
  color: yellow;
  background-color: black;
}

/*  <!--    Завдання №4. Змініть колір тексту та фон посилання,
    яке знаходиться в блоку з ідентифікатором "sidebar", на червоний: -->

  <!--    Порада проходити це завдання на https://codepen.io/ ,адже через те,
        що браузер запам'ятовує посилання на які ви заходили вам потрібно буде скидати кеш постійно,
        тому легше всього пройти тут -->

  <!--      Використовуйте цей селектор :link -->*/

.lesson-four-task-four #sidebar a:link {
  color: red;
  background-color: transparent;
}

/*   <!--    Завдання №5. Змініть колір тексту та фон кнопки, коли користувач натискає на неї, на червоний: -->

  <!--      Використовуйте цей селектор :active -->*/

.lesson-four-task-five .btn:active {
  color: red;
}

/*<!--    Завдання №6. Змініть колір тексту та фон кнопки, коли вона отримує фокус, на помаранчевий: -->*/

/*<!--      Використовуйте цей селектор :focus -->*/

.lesson-four-task-six .btn:focus {
  color: white;
  background-color: orange;
}

/*  <!--    Завдання №7. Змініть колір тексту та фон елемента,
  який вказаний в URL як фрагмент, на зелений, коли на нього встановлюється :target: -->

  <!--      Використовуйте цей селектор :target -->*/

.lesson-four-task-seven #target:target {
  color: white;
  background-color: green;
}

/*  <!--    Завдання №8. Змініть колір тексту на білий та фон елемента на синій при натискані відповідного чекбоксу: -->

  <!--      Використовуйте цей селектор :checked -->*/

#checkbox:checked ~ #target {
  color: white;
  background-color: blue;
}

/*  <!--    Завдання №9. Змінити колір тексту на синій для усіх елементів на сторінці, які написані українською мовою. -->

  <!--      Використовуйте цей селектор :lang() -->*/

.lesson-four-task-nine :lang(uk) {
  color: blue;
}

/*  <!--    Завдання №10. Змінити колір тексту на червоний та фон на жовтий елементів форми, які включені та доступні для введення.-->

  <!--      Використовуйте цей селектор :enabled -->*/

.lesson-four-task-ten input:enabled {
  background-color: yellow;
  color: red;
}

/*  <!--    Завдання №11. При використанні селектора :disabled змінити фоновий колір на жовтий в полях введення, які є неактивними.-->

  <!--      Використовуйте цей селектор :disabled -->*/

.lesson-four-task-eleven input:disabled {
  background-color: red;
}

/*  <!--    Завдання №12. Встановіть жовтий фоновий колір для елементів <input>, що без атрибута readonly. -->

  <!--      Використовуйте цей селектор :read-write -->*/

.lesson-four-task-twelve input:read-write {
  background-color: yellow;
}

/*<<!--  Завдання №13. Встановіть жовтий фоновий колір для інпуту з атрибутом readonly.
  Змініть колір тексту на червоний, а фоновий колір на блідо-жовтий.  -->
*/

.lesson-four-task-thirteen input[readonly] {
  background-color: yellow;
}

/*  <!--    Завдання №14. Зробіть поле вводу зеленим, коли введене значення коректне, і червоним - якщо ні. -->

  <!--      Використовуйте ці селектори :valid та :invalid   -->*/

.lesson-four-task-fourteen input:valid {
  background-color: green;
  color: black;
}

.lesson-four-task-fourteen input:invalid {
  background-color: red;
  color: white;
}

/* <!--    Завдання №15. Застосувати селектор :optional до текстового поля форми,
  яке не є обов'язковим для заповнення, і змінити його фон на червоний,. -->

  <!--      Використовуйте цей селектор :optional -->
*/

.lesson-four-task-fifteen textarea:optional {
  background-color: red;
}

/*  <!--    Завдання №16. Є форма з полем вводу числа, яке може бути від 0 до 100.
  Задача змінити колір фону на червоний, якщо значення не входить до цього діапазону.-->

  <!--      Використовуйте цей селектор :out-of-range -->*/

.lesson-four-task-sixteen input:out-of-range {
  background-color: red;
}

/*  <!--    Завдання №17.<!--    Є форма з полем вводу числа, яке може бути від 0 до 100.
  Задача змінити колір фону на червоний, якщо значення входять до діапазону від 0 до 100. -->

  <!--      Використовуйте цей селектор :in-range-->*/

.lesson-four-task-seventeen input:in-range {
  color: green;
}

/*  <!--    Завдання №18.У цьому завданні потрібно зробити, щоб змінювався колір фону placeholder на червоний ,
  який зникає, коли користувач починає вводити. -->

  <!--      Використовуйте цей селектор :placeholder-shown-->*/

.lesson-four-task-eighteen input:placeholder-shown {
  background-color: red;
}

/*  <!--    Завдання №19. Застосуйте селектор :focus-within до блоку,

  який змінює колір тексту на білий та фоновий колір на жовтий при активному стані. -->*/

.lesson-four-task-nineteen .btn-group :focus-within {
  background-color: #ff0;
  color: #fff;
}

/*<!--    Завдання №20. При валідації форми з помилкою, змінюйте колір фону на червоний. -->

<!--      Використовуйте цей селектор :invalid-->*/

.lesson-four-task-twenty input:invalid {
  background-color: red;
  color: white;
}

/*<!--

Завдання №21.Зробити текст червоного кольору для мітки (label),
яка має встановлене значення за замовчуванням (checked) для елементу input з типом радіо (radio)
у розділі з класом lesson-four-task-twenty-one.

Використовуйте цей селектор :default

-->*/

.lesson-four-task-twenty-one input:default + label {
  color: red;
}
